
.main-grid{
    border-bottom: 1px solid #dfe0e0;
    grid-template-columns: 2.35fr 1fr;
    grid-column-gap: 53px;
    
    @media(max-width:960px){
        grid-template-columns: 4fr 1fr;
        grid-column-gap: 20px;
    }
    
     @media(max-width: 780px){
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }
}

.main{
    padding-top: 75px;
    
    h2{
        font-size: 24px;
        letter-spacing: -.3px;
        
        @media(max-width:960px){
                font-size: 1.3rem;
        }
    }
}

.main-item{
    background: #fff;
    min-height: 250px;
    display: grid;
    grid-template-columns: 250px 1.73fr;
    grid-column-gap: 35px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    
    @media(max-width: 1020px){
        height: auto;
        min-height: auto;
        margin-bottom: 30px;
        grid-column-gap: 15px;
        grid-template-columns: 200px 1.73fr;
    }
    
    @media(max-width: 600px){
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 15px;
        margin-bottom: 15px;
    }
}

.main-item_img{
    height: 100%;
    max-height: 250px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    
    @media(max-width: 780px){
        max-height: 200px;
    }
}

.main-item_content{
    box-sizing: border-box;
    position: relative;
    padding: 26px 25px 10px 0;
    box-sizing: border-box;
    
    h3{
        margin-bottom: 26px;
        font-size: 24px;
        font-weight: 600;
        
        @media(max-width: 1020px){
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        @media(max-width: 1020px){
            font-size: 1rem;
            margin-bottom: 10px;
        }
        
        span{
            white-space: nowrap;
        }
    }
    
    p{
        color: #666666;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        
        @media(max-width: 1020px){
            font-size: 0.8rem;
            padding-bottom: 15px;
            line-height: normal;
        }
        @media(max-width: 1020px){
            font-size: 0.7rem;
        }
    }
}

.main-item_icon{
    display: flex;
    margin-top: 30px;
}

.icon_massage{
    display: flex;
    align-items: center;
    margin-right: 45px;
    
    img{
        width: 100%;
        max-width: 16px;
        height: auto;
        margin-right: 16px;
    }
    
    span{
        color: #666666;
        font-size: 16px;
        
        @media(max-width: 600px){
            font-size: 0.8rem;
        }
    }
}

