header{
    position: relative;
}

.main-head{
    width: 100%;
    padding: 35px 0;
    align-items: center;
    background: #fff;
    
    @media(max-width:960px){
        padding: 15px 0;
    }
    
    .wrp{
        display: flex;
        justify-content: space-between;
    }
}

.logo{
    display: flex;
}

.logo-tipe{
    padding-left: 24px;
    
    @media(max-width:960px){
        padding-left: 15px;
    }
}

.logo-img{
    width: 40px;
    height: 40px;
    background-color: #fff36e;
    border-radius: 50%;
    position: relative;
    
    img{
        position: absolute;
        left: 0;
        width: 100%;
    }
}

.logo_head{
    color: $head-color;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
}
.logo_sub-head{
    color: $sub-color;
    font-size: 14px;
}
.header_nav{
    
    @media(max-width: 860px){
        display: none;
    }
    
    ul{
        display: flex;
        text-transform: uppercase;
        
        li{
            margin-left: 67px;
            line-height: 47px;
        }
        
        a{
            color: #333333;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
