//header
.single{
    
    .logo-tipe{
        padding-left: 29px;
        
        @media(max-width:960px){
        padding-left: 15px;
    }
        
         @media(max-width:480px){
        padding: 0 5px;
    }
        
        .logo_head{
            letter-spacing: -0.9px;
        }
    }
    .header_nav{
        ul{
            li{
                margin-left: 60px;
            a{
                letter-spacing: -0.3px;
                }
            }
        }
    }
}



.main-content{
    width: 100%;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
.main-grid_single{
    display: grid;
    grid-template-columns: 2.35fr 1fr;
    grid-row-gap: 60px;
    
    @media(max-width:960px){
        grid-template-columns: 2fr 1fr;
    }
    @media(max-width: 780px){
        grid-template-columns: 1fr;
    }
}

.main-single{
    background: #fff;
    padding-bottom: 47px;
    
    @media(max-width: 960px){
        padding-bottom: 15px;
    }
}

.main-single_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 27px 50px;
    padding-right: 57px;
    
    @media(max-width:1120px){
        padding: 15px 30px;
    }
    
    @media(max-width:800px){
        padding: 15px 10px;
    }
    
    @media(max-width:480px){
      flex-direction: column;
    }
    
    .single-icon{
        padding-right: 0;
        padding-left: 10px;
        
         @media(max-width: 480px){
               justify-content: space-between;
            }
        
        .single-icon_massege{
            margin-left: 40px;
            
            @media(max-width: 1120px){
                margin-left: 15px;
            }
            
            @media(max-width: 480px){
                margin-top: 15px;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    
}

.single-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 54px;
    
    @media(max-width:1120px){
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
    }
}



.single-icon_massege{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
    @media(max-width:960px){
        padding-left: 15px;
    }
    
    img{
        margin-right: 10px;
        max-width: 20px;
    }
}

.main-single_img{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-single_content{
    padding: 0 55px;
    
    @media(max-width:960px){
        padding: 0 15px;
    }
    
    p{
       padding: 49px 0 32px 0;
       font-size: 16px;
       line-height: 24px;
        
        @media(max-width:960px){
            padding: 15px 0 15px 0;
            font-size: 0.8rem;
            line-height: 16px;
        }
    }
    
    .after-list{
    padding-top: 27px;
}
    
    .last-paragraph{
        padding-top: 33px;
    }
    
    h2{
        margin-bottom: 12px;
        
        @media(max-width:960px){
            font-size: 1rem;
            margin-bottom: 0px;
        } 
    }
    
    span{
        line-height: 24px;
        font-size: 16px;
        
        @media(max-width:960px){
            font-size: 0.8rem;
        }
    }
    
    .blue-border{
        border-left: 4px solid $head-color;
        font-size: 18px;
        padding: 0 0 12px 25px;
        font-style: italic;
        letter-spacing: -.2px;
        
         @media(max-width:960px){
            font-size: 0.8rem;
             padding: 7px 0 7px 15px;
        }
}
    
    ul{
        margin-top: 46px;
        padding: 0 30px;
        
          @media(max-width:960px){
             margin-top: 20px;
             padding: 0 15px;
        }
        
        li{
            margin-bottom: 20px;
            position: relative;
            
            @media(max-width: 960px){
                margin-bottom: 10px;
                font-size: 0.8rem;
            }
            
            &::before{
                content: " ";
                display: block;
                width: 7px;
                height: 7px;
                background: $head-color;
                position: absolute;
                left: -30px;
                top: 7px;
                
                 @media(max-width:960px){
                     left: -15px
                }
            }
        }
    }
    ol{
        margin-top: 40px;
        padding: 0 30px;
        counter-reset:li;
        list-style: none;
        
         @media(max-width: 960px){
                margin-top: 20px;
                padding: 0 15px;
            }
        
        li{
            list-style: inherit;
            margin-bottom: 20px;
            position: relative;
            
            @media(max-width: 960px){
                margin-bottom: 10px;
                font-size: 0.8rem;
            }
            
            &::before{
                content: counter(li);
                counter-increment: li;
                position: absolute;
                left: -29px;
                color: $head-color;
                
                @media(max-width:960px){
                     left: -15px
                }
            }
        }
    }
}


.main-single_footer{
    display: flex;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0 30px;
    padding-left: 55px;
    
    @media(max-width:960px){
        flex-wrap: wrap;
        padding: 0 15px;
    }
  
    img{
        max-width: 20px;
        margin-right: 5px;
    }
}

.footer-social-ic{
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 3px;
    background: #ececec;
    padding: 1px 3px 1px 3px;
    box-sizing: border-box;
    white-space: nowrap;
    
    @media(max-width:960px){
        margin: 7px;
    }
    
    span{
        font-size: 13px;
        font-weight: 100;
        word-spacing: 10px;
    }
}


//other-inf

.othre-inf{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px; 
    margin-top: 50px;
    
    @media(max-width:960px){
        grid-gap: 15px;
        margin-top: 15px;
    }
    @media(max-width:600px){
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }
}

.container{
    display: grid;
    grid-template-rows: 210px 1fr;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
    
    &-img{
        background-position: center center;
        background-size: cover;
        box-sizing: border-box;
    }
    
    &-inf{
        padding-bottom: 30px;
        box-sizing: border-box;
        
        @media(max-width: 960px){
            padding-bottom: 15px;
        }
        
        p{
            padding: 20px;
            padding-bottom: 27px;
            font-weight: 600;
            font-size: 16px;
            
            @media(max-width: 960px){
                font-size: 0.8rem;
                padding-top: 15px;
                padding-bottom: 15px;
        }
        }
    }
}