.mobile{
    display: none;
    
    @media(max-width:860px){
        display: block;
    }
   
    ul{
        position: absolute;
        left: 0;
        top: 100%;
        text-align: center;
        width: 100%;
        margin: auto;
        z-index: 2;
        background: rgba(255, 255, 255, 0.95);
        display: none;
        padding-bottom: 15px;
        border-bottom: 2px solid $head-color;
        
        li{
            padding: 10px 0;
            
            a{
                color: $head-color;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.5s all;
                
                &:hover{
                    color: $sub-color;
                }
            }
        }
    }
}

.burger{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    
    span{
        display: block;
        background: #000;
        width: 100%;
        height: 2px;
        transition: 0.5s all;
    }
}

.center-burger_hidden{
    opacity: 0;
    transition: 0s all;
}

.active {
    .left-burger{
        transform: rotate(45deg);
        position: absolute;
        background: $head-color;
}
    .right-burger{
        transform: rotate(-45deg);
        position: absolute;
        background: $head-color;
    }
}