@import 'var';
@import 'header';
@import 'content';
@import 'site-bar';
@import 'to-go';
@import 'footer';
@import 'main-single';
@import 'comment';
@import 'mobile';

*{
    padding: 0;
    margin: 0;
}

body{
    background: #f8f9f9; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.grid{
    display: grid;
    position: relative;
}

.wrp{
    margin: 0 auto;
    width: 100%;
    max-width: 1076px;
    box-sizing: border-box;
    
      
    @media(max-width:1120px){
        padding: 15px 20px;
    }
    
    @media(max-width:600px){
        padding: 10px 10px;
    }
}
